/* Written by github.com/mattclarke131 */

#navbar {
	background-color: #D0D0D0;
}

#resources {
	font-size: 20px;
	font-weight: bold;
}

#gatherers {
	font-size: 20px;
	font-weight: bold;
}

#science {
	font-size: 20px;
	font-weight: bold;
}

#actions {
	font-size: 20px;
	font-weight: bold;
}

#structures {
	font-size:20px;
	font-weight: bold;
}
