/* Written by github.com/mattclarke131 */

#navbar {
	background-color: #87CEFA;
}

.title {
	font-size: 20px;
	font-weight: bold;
}

#actions {
	font-size: 20px;
	font-weight: bold;
}

#structures {
	font-size:20px;
	font-weight: bold;
}

.well {
	background-color: #87CEFA
}

body {
	background-color: #E0FFFF
}
